.wrapper {
	width: 100%;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:  8vh;
	width: 100%;
	background: #fff;
	padding: 10px;
	background-color: steelblue;
	color: #fff;
}


.top-controls {
	display: flex;
	flex-direction: row;
	padding: 0px 10px;
}

button {
	margin: 10px;
}

.main {
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main h1 {

}